.text1 {
    text-align: center;
    align-items: center;
    margin-top: 50px;
    padding: 18px 30px;
}

.text1 h3{
    color: #fff9ea;
}

.text1 p{
    color: #fff9ea;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.text1 h1{
    color: #fff9ea;
}

.fund {
    padding: 30px 30px;   
    width: 900px;
    margin-left: 200px;
    border-radius: 15px;
    background-color: rgb(109, 67, 51);
    box-shadow: rgba(17, 17, 36, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(2, 6, 10, 0.719) 0px -2px 6px 0px inset;
}

footer {
    margin-top: 100px;
}